<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
 classpath:mapper/ProjectMapper.xml
 -->
<mapper namespace="cn.tedu.ttms.attachement.dao.AttachementDao">

    <select id="findObjects" resultType="cn.tedu.ttms.attachement.entity.Attachement">
       select * from tms_attachements
    </select>

    <select id="findById"  resultType="cn.tedu.ttms.attachement.entity.Attachement">
            select * from tms_attachements where id=#{id};
    </select>

    <select id="findObjectByDisgest" resultType="cn.tedu.ttms.attachement.entity.Attachement">
           select * from tms_attachements where fileDisgest=#{fileDigest};
    </select>

    <insert id="insertObject" parameterType="cn.tedu.ttms.attachement.entity.Attachement">
    INSERT  INTO tms_attachements (title,fileName,filePath,athType,belongId,contentType,fileDisgest,createdTime,createdUser,modifiedUser)VALUES (
        #{entity.title},
        #{entity.fileName},
        #{entity.filePath},
        #{entity.athType},
        #{entity.belongId},
       #{entity.contentType},
       #{entity.fileDigest},
       NOW(),
       #{entity.createUser},
       #{entity.modifyUser}
        )

    </insert>

</mapper> 