<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
 classpath:mapper/*Mapper.xml
 -->
<mapper namespace="cn.tedu.ttms.system.dao.OrganizationDao">



    <select id="findOrgObjects" resultType="map">
        <bind name="ENTITYNAME" value="'%' +entity.name + '%'" />
        SELECT o1.id,o1.name AS `name`,o1.code,o2.name AS `parentName`,o1.valid
        FROM sys_organizations o1,sys_organizations o2
        WHERE o1.parentId = o2.id
        <if test=" entity !=null  and entity.name != null and entity.name != '' ">
            AND  o1.name LIKE  #{ENTITYNAME}
        </if>
        <if test=" entity !=null  and entity.valid != null">
           AND o1.valid = #{entity.valid}
        </if>
        ORDER BY o1.name
        limit #{pageObject.startIndex},#{pageObject.pageSize}
    </select>


    <select id="findPageObjects" resultType="cn.tedu.ttms.system.entity.Organization">
        SELECT * FROM sys_organizations o
        <where>
                 <if test="entity !=null and entity.name != null and entity.name != '' ">
                    o.name like CONCAT ("%",#{entity.name},"%")
                </if>
                <if test="entity !=null and entity.valid != null">
                    and o.valid = #{entity.valid}
                </if>
         </where>
        ORDER BY o.createdTime DESC
        limit #{pageObject.startIndex},#{pageObject.pageSize}
    </select>




    <!--  id name code parentId valid note* -->

    <!-- Long id;
      String name;
       String code;
     parentId;
     parentIds;
    valid;
    note;
   createdtime;
    modifiedtime;
   createduser;
      modifieduser;-->
    <insert id="insertObject" parameterType="cn.tedu.ttms.system.entity.Organization">
            INSERT  INTO sys_organizations (name,valid,code,parentId,parentIds,createdTime,modifiedTime,createdUser,modifiedUser)VALUES (
                  #{entity.name},
                   #{entity.valid},
                   #{entity.code},
                   #{entity.parentId},
                   #{entity.parentIds},
                   #{entity.createdTime},
                  #{entity.modifiedTime},
                   #{entity.createdUser},
                   #{entity.modifiedUser})
        </insert>

    <update id="updateObject" parameterType="cn.tedu.ttms.system.entity.Organization">
            UPDATE  sys_organizations SET
            name = #{entity.name} ,
            valid =#{entity.valid},
           code=#{entity.code},
           parentId=#{entity.parentId},
           parentIds=#{entity.parentIds},
           valid=#{entity.valid},
           createdTime=#{entity.createdTime},
           modifiedTime=#{entity.modifiedTime},
           createdUser=#{entity.createdUser},
           modifiedUser=#{entity.modifiedUser}
           WHERE
           id=#{entity.id};
        </update>

    <select id="getRowCounts" resultType="java.lang.Integer">
        select count(*) from sys_organizations o
        <if test="entity != null">
            <where>
                <if test="entity.name != null and entity.name != ' ' ">
                    o.name like CONCAT ("%",#{entity.name},"%")
                </if>
                <if test="entity.valid !=null">
                    o.entity=#{entity.valid}
                </if>
            </where>
        </if>
    </select>

    <select id="getOrgRowsCounts" resultType="java.lang.Integer">
        SELECT COUNT(*) from sys_organizations o1,sys_organizations o2 WHERE o1.parentId = o2.id
                <if test=" entity!=null and entity.name !=null and entity.name != '' ">
                   AND o1.name like CONCAT ("%",#{entity.name},"%")
                </if>
    </select>

    <update id="doValidById">
        UPDATE sys_organizations
        SET valid  = #{valid},
         createdTime = NOW()
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="dd">
            #{dd}
        </foreach>
    </update>

    <!--<update id="validById">
        update tms_projects
        set valid=#{valid}
        where id in
        <foreach collection="ids"
                 open="(" close=")"
                 separator="," item="item">
            #{item}
        </foreach>
    </update>-->

    <select id="findIdAndNames" resultType="map">
          SELECT  id ,name FROM sys_organizations WHERE valid =1;
    </select>

    <select id="findObjectById" resultType="cn.tedu.ttms.system.entity.Organization">
        SELECT * FROM sys_organizations WHERE id = #{id};
    </select>

</mapper>